body {
  width: 600px;
  height: 400px;
}

.App strong {
  padding-left: 0.25em;
}

h2 {
  padding: 0.25em 0.5em;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skill-block {
  width: 50%;
}

.skill-block h2 {
  background-color: #333;
  color: #fff;
}

.skill-list {
  padding: 0 0.5em;
}
