body {
  width: 600px;
  height: 600px;
}

.App {
  padding-bottom: 2em;
}

.App strong {
  padding-left: 0.25em;
}

h3 {
  padding: 0.25em 0.5em;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skill-block {
  width: 50%;
}

.skill-block h3 {
  background-color: #333;
  color: #fff;
}

.skill-list {
  padding: 0 0.5em;
  font-size: 16px;
  font-weight: bold;
}

.pad {
  padding: 1em 1em 0 1em;
}
